.container {
  padding: 10px 10px;
}

@media (min-width: 576px) {
  .container {
    padding: 40px 40px 60px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 40px 15px 50px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 40px 120px 50px;
  }
}
