.filter-card-component {
  padding: 40px 15px;
  margin-bottom: 10px;
}

.store-filter-select__control {
  width: 100%;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  height: 50px;
  color: var(--secondary-color);
  padding: 15px 12px;
  letter-spacing: -0.015em;
  align-content: center;
}

.store-filter-select__indicator-separator {
  display: none;
}

.store-filter-select__option,
.store-filter-select__single-value {
  color: var(--secondary-color) !important;
}

.store-filter-select__option--is-focused {
}

@media (min-width: 576px) {
  .filter-card-component {
    padding: 40px 40px;
    margin-bottom: 40px;
  }

  .store-filter-select__control {
    width: 270px;
  }
}
